body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;

}

nav {
    background-color: #fff;
    border-bottom: 1px solid #a7a7a7;
    position: fixed;
    width: 100%;
    top: 0;
    transition: height 0.3s;
    z-index: 1000;
    
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-color: #000000;
}

nav ul{
    display: flex;
    flex-direction: row;
}

.temptext{
    margin-top: 20px;
    font-size:x-small;
    font-weight: bold;
    color: #eb7100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-top: 0px;
}

.social-links a {
    margin-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom:15px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none; 
    color: #333;
    transition: background-color 0.3s, color 0.2s; 
    line-height: 1.5;

}

.social-links a:hover {
    background-color: #d3d3d3; 
    color: #000000; 
    animation: txtflicker 0.4s forwards ;
}

.social-links a:visited {
    color: inherit; 
}

@keyframes txtflicker {
    0%   { font-family: "Lucida Console", "Courier New", monospace;
            padding-right: 20px; padding-left: 20px; }
    25%  { font-family: Impact, Charcoal, sans-serif; }
    40%  { padding-right: 50px; padding-left: 50px;}
    50%  { font-family: "Audiowide", sans-serif; color: #3700b8; padding-right: 40px; padding-left: 40px;   }
    75%  { font-family: cum2; }
    100% { font-family: Arial, Helvetica, sans-serif; padding-right: 40px; padding-left: 40px; }
}

/* Responsive design */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .social-links {
        flex-direction: column;
    }
}


.content-box {
    border: 1px solid #d6d6d6; 
    margin-bottom: 10px; 
    padding: 10px; 
    background-color: #dfdfdf; 
    border-radius: 2px; 
  }




