body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;

}

nav {
    background-color: #fff;
    border-bottom: 1px solid #a7a7a7;
    position: fixed;
    width: 100%;
    top: 0;
    transition: height 0.3s;
    z-index: 1000;
    
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-color: #000000;
}

nav ul{
    display: flex;
    flex-direction: row;
}

.temptext{
    margin-top: 20px;
    font-size:x-small;
    font-weight: bold;
    color: #eb7100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-top: 0px;
}

.social-links a {
    min-width: 6em;
    min-height: 1em;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px, 20px, 60px, 60px;
    margin-bottom:15px;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;

    background-color: #ffffff;
    transition: background-color 0.3s, color 0.2s; 
    line-height: 1.5;

    border: 2px solid #2c2c2c;
    border-radius: 20px;
    text-align: center;

}

.social-links a:hover {
    animation: txtflicker 0.4s forwards ;
}

.social-links a:visited {
    color: inherit; 
}

@keyframes txtflicker {
    0%  {   font-family: "Lucida Console", "Courier New", monospace;
            padding-right: 20px; padding-left: 20px;
            border-radius: 20px; 
            
        }
    
    25% {   font-family: Impact, Charcoal, sans-serif;}
    
    40% {   padding-right: 50px; 
            padding-left: 50px;
        }
    50% {   font-family: "Audiowide", sans-serif; 
            color: #00d6b3; 
            padding-right: 40px; 
            padding-left: 40px;    
        }
    75% {   font-family: "UnifrakturCook", sans-serif; 
            color: #c90000;    
        }
    100%{   font-family: "UnifrakturCook", sans-serif; 
            color: #000000; 
            padding-right: 40px; 
            padding-left: 40px;
            border-radius: 5px;
            border: 2px solid #5a5a5a;
            background-color: #e9e7e7;
            box-shadow: 1px 1px 10px 1px rgb(134, 134, 134);
        }
}

/* Responsive design */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .social-links {
        flex-direction: column;
    }
}







